# Table 1: Nuclear plant

In [1]:
# Libraries used in EDA
import pandas as pd
import numpy as np

## Data Import

In [2]:
O2015 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2015\EIA923_Schedules_2_3_4_5_M_12_2015_Final_Revision.xlsx')

In [3]:
O2016 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2016\EIA923_Schedules_2_3_4_5_M_12_2016_Final_Revision.xlsx')

In [4]:
O2017 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2017\EIA923_Schedules_2_3_4_5_M_12_2017_Final_Revision.xlsx')

In [5]:
O2018 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2018\EIA923_Schedules_2_3_4_5_M_12_2018_Final_Revision.xlsx')

In [6]:
O2019 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2019\EIA923_Schedules_2_3_4_5_M_12_2019_Final_Revision.xlsx')

In [7]:
O2020 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2020\EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx')

In [8]:
O2021 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2021\EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx')

In [9]:
# Importing the csv file
O2022 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2022\EIA923_Schedules_2_3_4_5_M_12_2022_Final_Revision.xlsx')

In [10]:
# Importing the csv file
O2023 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2023\EIA923_Schedules_2_3_4_5_M_12_2023_Final_Revision.xlsx')

In [11]:
# Importing the csv file
O2024 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2024\&&EIA923_Schedules_2_3_4_5_M_12_2024_Final.xlsx')

In [12]:
# Importing the csv file
O2025 = pd.read_excel(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Capstone\lightning talk data\U.S. Operator Data\2025\EIA923_Schedules_2_3_4_5_M_08_2025_21OCT2025.xlsx')

## Merging & Header Change

In [13]:
all_columns = ['Plant Id', 'Combined Heat And Power Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported Prime Mover',
       'Reported Fuel Type Code', 'AER Fuel Type Code',
       'Balancing Authority Code', 'Reserved2', 'Physical Unit Label',
       'Quantity January', 'Quantity February', 'Quantity March',
       'Quantity April', 'Quantity May', 'Quantity June', 'Quantity July',
       'Quantity August', 'Quantity September', 'Quantity October',
       'Quantity November', 'Quantity December', 'Elec_Quantity January',
       'Elec_Quantity February', 'Elec_Quantity March',
       'Elec_Quantity April', 'Elec_Quantity May', 'Elec_Quantity June',
       'Elec_Quantity July', 'Elec_Quantity August',
       'Elec_Quantity September', 'Elec_Quantity October',
       'Elec_Quantity November', 'Elec_Quantity December',
       'MMBtuPer_Unit January', 'MMBtuPer_Unit February',
       'MMBtuPer_Unit March', 'MMBtuPer_Unit April', 'MMBtuPer_Unit May',
       'MMBtuPer_Unit June', 'MMBtuPer_Unit July', 'MMBtuPer_Unit August',
       'MMBtuPer_Unit September', 'MMBtuPer_Unit October',
       'MMBtuPer_Unit November', 'MMBtuPer_Unit December',
       'Tot_MMBtu January', 'Tot_MMBtu February', 'Tot_MMBtu March',
       'Tot_MMBtu April', 'Tot_MMBtu May', 'Tot_MMBtu June',
       'Tot_MMBtu July', 'Tot_MMBtu August', 'Tot_MMBtu September',
       'Tot_MMBtu October', 'Tot_MMBtu November', 'Tot_MMBtu December',
       'Elec_MMBtu January', 'Elec_MMBtu February', 'Elec_MMBtu March',
       'Elec_MMBtu April', 'Elec_MMBtu May', 'Elec_MMBtu June',
       'Elec_MMBtu July', 'Elec_MMBtu August', 'Elec_MMBtu September',
       'Elec_MMBtu October', 'Elec_MMBtu November', 'Elec_MMBtu December',
       'Netgen January', 'Netgen February', 'Netgen March', 'Netgen April',
       'Netgen May', 'Netgen June', 'Netgen July', 'Netgen August',
       'Netgen September', 'Netgen October', 'Netgen November',
       'Netgen December', 'Total Fuel Consumption Quantity',
       'Electric Fuel Consumption Quantity', 'Total Fuel Consumption MMBtu',
       'Elec Fuel Consumption MMBtu', 'Net Generation (Megawatthours)',
       'YEAR']

In [14]:
header = O2015.iloc[4]

In [15]:
tabels = [O2015,O2016,O2017,O2018,O2019,O2020,O2021,O2022,O2023,O2024,O2025]
for i in range(len(tabels)):
    # Droping the first 5 rows (empty)
    tabels[i].drop([0,1,2,3,4],axis= 0,inplace=True)
    # resetting the index to start from 0
    tabels[i].reset_index(inplace= True)
    # droping the old index 
    tabels[i].drop('index',axis = 1 , inplace= True)

In [71]:
operators = pd.concat([O2015,O2016,O2017,O2018,O2019,O2020,O2021,O2022,O2023,O2024], ignore_index=True)

In [72]:
operators.columns = header
operators

4,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,974.1,1728.561,2698.29,3881.341,0,0,241548,241548,25920,2015
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,126735,145359,244112,223707,770956,770956,788125,788125,2464536,2015
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,217458,254183,441658,424910,46149030,46149030,47195389,47195389,4318717,2015
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,495746.92,337971.63,308318.11,352781.05,2153948,2153948,46083543,46083543,4559960.6,2015
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,1351.079,1970.374,3594.894,1183.953,446649,446649,457069,457069,44348.399,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149579,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,IN,ENC,NaN,NaN,...,14120.338,20076.003,21818.471,21818.564,0,0,778885,778885,228278.13,2024
149580,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,IL,ENC,NaN,NaN,...,.,.,.,.,0,0,197452,197452,57869.873,2024
149581,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,HI,PACN,NaN,NaN,...,1963.981,2664.539,2635.446,2522.63,0,0,107195,107195,31416.956,2024
149582,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,CA,PACC,NaN,NaN,...,.,.,5945.737,5661.741,0,0,39605,39605,11607.478,2024
149583,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,CA,PACC,NaN,NaN,...,6299.311,8521.414,8501.138,8095.085,0,0,343851,343851,100777.13,2024

In [73]:
operators.columns = ['Plant Id', 'Combined Heat And Power Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported Prime Mover',
       'Reported Fuel Type Code', 'AER Fuel Type Code', 'Reserved',
       'Reserved', 'Physical Unit Label', 'Quantity January', 'Quantity February', 'Quantity March',
       'Quantity April', 'Quantity May', 'Quantity June', 'Quantity July',
       'Quantity August', 'Quantity September', 'Quantity October',
       'Quantity November', 'Quantity December', 'Elec_Quantity January',
       'Elec_Quantity February', 'Elec_Quantity March',
       'Elec_Quantity April', 'Elec_Quantity May', 'Elec_Quantity June',
       'Elec_Quantity July', 'Elec_Quantity August',
       'Elec_Quantity September', 'Elec_Quantity October',
       'Elec_Quantity November', 'Elec_Quantity December',
       'MMBtuPer_Unit January', 'MMBtuPer_Unit February',
       'MMBtuPer_Unit March', 'MMBtuPer_Unit April', 'MMBtuPer_Unit May',
       'MMBtuPer_Unit June', 'MMBtuPer_Unit July', 'MMBtuPer_Unit August',
       'MMBtuPer_Unit September', 'MMBtuPer_Unit October',
       'MMBtuPer_Unit November', 'MMBtuPer_Unit December',
       'Tot_MMBtu January', 'Tot_MMBtu February', 'Tot_MMBtu March',
       'Tot_MMBtu April', 'Tot_MMBtu May', 'Tot_MMBtu June',
       'Tot_MMBtu July', 'Tot_MMBtu August', 'Tot_MMBtu September',
       'Tot_MMBtu October', 'Tot_MMBtu November', 'Tot_MMBtu December',
       'Elec_MMBtu January', 'Elec_MMBtu February', 'Elec_MMBtu March',
       'Elec_MMBtu April', 'Elec_MMBtu May', 'Elec_MMBtu June',
       'Elec_MMBtu July', 'Elec_MMBtu August', 'Elec_MMBtu September',
       'Elec_MMBtu October', 'Elec_MMBtu November', 'Elec_MMBtu December',
       'Netgen January', 'Netgen February', 'Netgen March', 'Netgen April',
       'Netgen May', 'Netgen June', 'Netgen July', 'Netgen August',
       'Netgen September', 'Netgen October', 'Netgen November',
       'Netgen December', 'Total Fuel Consumption Quantity',
       'Electric Fuel Consumption Quantity', 'Total Fuel Consumption MMBtu',
       'Elec Fuel Consumption MMBtu', 'Net Generation (Megawatthours)',
       'YEAR']

## Changinng the types of columns

In [74]:
operators.dtypes

Plant Id                              object
Combined Heat And Power Plant         object
Nuclear Unit Id                       object
Plant Name                            object
Operator Name                         object
                                       ...
Electric Fuel Consumption Quantity    object
Total Fuel Consumption MMBtu          object
Elec Fuel Consumption MMBtu           object
Net Generation (Megawatthours)        object
YEAR                                  object
Length: 97, dtype: object

In [132]:
# replacing the comma with empty string so it can be converted from object to int
def comma_replace (table):
        return str(table).replace(',','')
def dot_replace (table):
        return str(table).split('.')[0]

In [122]:
columns_list = ['Plant Id','Quantity January', 'Quantity February', 'Quantity March',
       'Quantity April', 'Quantity May', 'Quantity June', 'Quantity July',
       'Quantity August', 'Quantity September', 'Quantity October',
       'Quantity November', 'Quantity December', 'Elec_Quantity January',
       'Elec_Quantity February', 'Elec_Quantity March',
       'Elec_Quantity April', 'Elec_Quantity May', 'Elec_Quantity June',
       'Elec_Quantity July', 'Elec_Quantity August',
       'Elec_Quantity September', 'Elec_Quantity October',
       'Elec_Quantity November', 'Elec_Quantity December',
       'MMBtuPer_Unit January', 'MMBtuPer_Unit February',
       'MMBtuPer_Unit March', 'MMBtuPer_Unit April', 'MMBtuPer_Unit May',
       'MMBtuPer_Unit June', 'MMBtuPer_Unit July', 'MMBtuPer_Unit August',
       'MMBtuPer_Unit September', 'MMBtuPer_Unit October',
       'MMBtuPer_Unit November', 'MMBtuPer_Unit December',
       'Tot_MMBtu January', 'Tot_MMBtu February', 'Tot_MMBtu March',
       'Tot_MMBtu April', 'Tot_MMBtu May', 'Tot_MMBtu June',
       'Tot_MMBtu July', 'Tot_MMBtu August', 'Tot_MMBtu September',
       'Tot_MMBtu October', 'Tot_MMBtu November', 'Tot_MMBtu December',
       'Elec_MMBtu January', 'Elec_MMBtu February', 'Elec_MMBtu March',
       'Elec_MMBtu April', 'Elec_MMBtu May', 'Elec_MMBtu June',
       'Elec_MMBtu July', 'Elec_MMBtu August', 'Elec_MMBtu September',
       'Elec_MMBtu October', 'Elec_MMBtu November', 'Elec_MMBtu December',
       'Netgen January', 'Netgen February', 'Netgen March', 'Netgen April',
       'Netgen May', 'Netgen June', 'Netgen July', 'Netgen August',
       'Netgen September', 'Netgen October', 'Netgen November',
       'Netgen December', 'Total Fuel Consumption Quantity',
       'Electric Fuel Consumption Quantity', 'Total Fuel Consumption MMBtu',
       'Elec Fuel Consumption MMBtu', 'Net Generation (Megawatthours)',
       'YEAR']

In [134]:
# appling the functions on all columns
for i in columns_list:
    operators[i] = operators[i].apply(comma_replace)
    operators[i] = operators[i].apply(dot_replace)

In [181]:
operators['Plant Id'] = operators['Plant Id'].astype(object)
operators.dtypes

level_0                                int64
index                                  int64
Plant Id                              object
Combined Heat And Power Plant         object
Nuclear Unit Id                       object
                                       ...
Electric Fuel Consumption Quantity    object
Total Fuel Consumption MMBtu          object
Elec Fuel Consumption MMBtu           object
Net Generation (Megawatthours)        object
YEAR                                  object
Length: 91, dtype: object

## EDA

### Cleaning

In [138]:
operators.sample(5)

,index,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,Reported Fuel Type Code,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
93965,94080,60450.0,N,.,Corcoran,Terraform Arcadia,63249,CA,PV,SUN,...,183,152,121,83,0,0,18086,18086,2045,2021
3029,3029,3408.0,N,.,Melton Hill,Tennessee Valley Authority,18642,TN,HY,WAT,...,9168,13839,14885,18588,0,0,1415294,1415294,151872,2015
135375,135499,7873.0,N,.,H L Culbreath Bayside Power Station,Tampa Electric Co,18454,FL,CT,NG,...,393965,218790,245066,229566,35677182,35677182,36554244,36554244,3250445,2024
128015,128136,62886.0,N,.,Wilkinson DeFore,Westbound Solar LLC,62715,GA,PV,SUN,...,0,0,0,0,0,0,11053,11053,3240,2023
29373,29427,7366.0,N,.,Lincoln Turbines,Wisconsin Public Service Corp,20860,WI,WT,WND,...,445,1003,1106,1096,0,0,95299,95299,10344,2017

In [139]:
operators.drop(['Census Region', 'NERC Region', 'Reserved', 'NAICS Code','EIA Sector Number', 'Sector Name'],axis = 1,inplace = True)

KeyError: "['Census Region', 'NERC Region', 'Reserved', 'NAICS Code', 'EIA Sector Number', 'Sector Name'] not found in axis"

In [140]:
round(operators.describe())

          index  Plant Id
count  149456.0  149456.0
mean    74825.0   39651.0
std     43175.0   26823.0
min         0.0       1.0
25%     37466.0    6761.0
50%     74842.0   55241.0
75%    112209.0   59513.0
max    149583.0   99999.0

In [141]:
operators.describe(include='object')

,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,Reported Fuel Type Code,AER Fuel Type Code,Physical Unit Label,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
count,149456,149456,149448,149448,149456,149448,149456,149456,149456,83627,...,149456,149456,149456,149456,149456,149456,149456,149456,149456,149456
unique,2,5,14947,7624,7149,51,18,41,18,5,...,34950,34140,33657,34291,46289,44637,97133,95408,68304,11
top,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,CA,PV,SUN,SUN,mcf,...,0,0,0,0,0,0,0,0,0,2024
freq,124147,148489,1947,1947,1947,18190,37185,37333,37333,38630,...,28587,29173,29190,28339,88066,88438,26684,26984,22289,17960

In [142]:
operators[operators['Operator Name'].isnull() == True]

,index,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,Reported Fuel Type Code,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
4830,4830,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,
43178,43291,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2018
57052,57167,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2019
71445,71560,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2020
86475,86590,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2021
102228,102346,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2022
118604,118725,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2023
135589,135713,8825.0,N,.,NaN,NaN,.,NaN,ST,RFO,...,0,0,0,0,0,0,0,0,0,2024

In [143]:
operators['Operator Name'].dropna(inplace=True)

In [144]:
operators.duplicated().sum()

np.int64(0)

In [145]:
operators.drop_duplicates(inplace= True)

In [146]:
operators.reset_index(inplace=True)

In [148]:
operators.head()

,level_0,index,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,0,0,2.0,N,.,Bankhead Dam,Alabama Power Co,195,AL,HY,...,974,1728,2698,3881,0,0,241548,241548,25920,2015
1,1,1,3.0,N,.,Barry,Alabama Power Co,195,AL,CA,...,126735,145359,244112,223707,770956,770956,788125,788125,2464536,2015
2,2,2,3.0,N,.,Barry,Alabama Power Co,195,AL,CT,...,217458,254183,441658,424910,46149030,46149030,47195389,47195389,4318717,2015
3,3,3,3.0,N,.,Barry,Alabama Power Co,195,AL,ST,...,495746,337971,308318,352781,2153948,2153948,46083543,46083543,4559960,2015
4,4,4,3.0,N,.,Barry,Alabama Power Co,195,AL,ST,...,1351,1970,3594,1183,446649,446649,457069,457069,44348,2015

In [149]:
operators = operators[operators["YEAR"] != 0]

In [150]:
operators[operators["YEAR"] == 0]

Empty DataFrame
Columns: [level_0, index, Plant Id, Combined Heat And Power Plant, Nuclear Unit Id, Plant Name, Operator Name, Operator Id, Plant State, Reported Prime Mover, Reported Fuel Type Code, AER Fuel Type Code, Physical Unit Label, Quantity January, Quantity February, Quantity March, Quantity April, Quantity May, Quantity June, Quantity July, Quantity August, Quantity September, Quantity October, Quantity November, Quantity December, Elec_Quantity January, Elec_Quantity February, Elec_Quantity March, Elec_Quantity April, Elec_Quantity May, Elec_Quantity June, Elec_Quantity July, Elec_Quantity August, Elec_Quantity September, Elec_Quantity October, Elec_Quantity November, Elec_Quantity December, MMBtuPer_Unit January, MMBtuPer_Unit February, MMBtuPer_Unit March, MMBtuPer_Unit April, MMBtuPer_Unit May, MMBtuPer_Unit June, MMBtuPer_Unit July, MMBtuPer_Unit August, MMBtuPer_Unit September, MMBtuPer_Unit October, MMBtuPer_Unit November, MMBtuPer_Unit December, Tot_MMBtu January, Tot_MMBtu February, Tot_MMBtu March, Tot_MMBtu April, Tot_MMBtu May, Tot_MMBtu June, Tot_MMBtu July, Tot_MMBtu August, Tot_MMBtu September, Tot_MMBtu October, Tot_MMBtu November, Tot_MMBtu December, Elec_MMBtu January, Elec_MMBtu February, Elec_MMBtu March, Elec_MMBtu April, Elec_MMBtu May, Elec_MMBtu June, Elec_MMBtu July, Elec_MMBtu August, Elec_MMBtu September, Elec_MMBtu October, Elec_MMBtu November, Elec_MMBtu December, Netgen January, Netgen February, Netgen March, Netgen April, Netgen May, Netgen June, Netgen July, Netgen August, Netgen September, Netgen October, Netgen November, Netgen December, Total Fuel Consumption Quantity, Electric Fuel Consumption Quantity, Total Fuel Consumption MMBtu, Elec Fuel Consumption MMBtu, Net Generation (Megawatthours), YEAR]
Index: []

[0 rows x 91 columns]

In [151]:
operators[operators['Plant Id'] == 66263]

,level_0,index,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
147775,147775,147899,66263.0,N,.,Eleven Mile Solar Center,"Eleven Mile Solar Center, LLC",65368,AZ,BA,...,-3734,-3901,-3545,-3768,249352,249352,0,0,-24789,2024
147776,147776,147900,66263.0,N,.,Eleven Mile Solar Center,"Eleven Mile Solar Center, LLC",65368,AZ,PV,...,33642,68668,48211,42957,0,0,1505402,1505402,441207,2024

In [182]:
operators.to_csv('Combined_Cleaned_2015_2025.csv',index=False)

### Categorizing Tabels

In [153]:
Netgen_col = operators.columns
Netgen_col = [x for x in operators.columns if 'Netgen' in x]
Netgen_col.append('YEAR')
Netgen_col

['Netgen January',
 'Netgen February',
 'Netgen March',
 'Netgen April',
 'Netgen May',
 'Netgen June',
 'Netgen July',
 'Netgen August',
 'Netgen September',
 'Netgen October',
 'Netgen November',
 'Netgen December',
 'YEAR']

In [154]:
Quantity_col = operators.columns
Quantity_col = [x for x in operators.columns if 'Q' == x[0]]
Quantity_col.append('YEAR')
Quantity_col

['Quantity January',
 'Quantity February',
 'Quantity March',
 'Quantity April',
 'Quantity May',
 'Quantity June',
 'Quantity July',
 'Quantity August',
 'Quantity September',
 'Quantity October',
 'Quantity November',
 'Quantity December',
 'YEAR']

In [155]:
Elec_Quantity_col = operators.columns
Elec_Quantity_col = [x for x in operators.columns if 'Elec_Quantity' in x]
Elec_Quantity_col.append('YEAR')
Elec_Quantity_col

['Elec_Quantity January',
 'Elec_Quantity February',
 'Elec_Quantity March',
 'Elec_Quantity April',
 'Elec_Quantity May',
 'Elec_Quantity June',
 'Elec_Quantity July',
 'Elec_Quantity August',
 'Elec_Quantity September',
 'Elec_Quantity October',
 'Elec_Quantity November',
 'Elec_Quantity December',
 'YEAR']

In [156]:
MMBtuPer_col = operators.columns
MMBtuPer_col = [x for x in operators.columns if 'MMBtuPer' in x]
MMBtuPer_col.append('YEAR')
MMBtuPer_col

['MMBtuPer_Unit January',
 'MMBtuPer_Unit February',
 'MMBtuPer_Unit March',
 'MMBtuPer_Unit April',
 'MMBtuPer_Unit May',
 'MMBtuPer_Unit June',
 'MMBtuPer_Unit July',
 'MMBtuPer_Unit August',
 'MMBtuPer_Unit September',
 'MMBtuPer_Unit October',
 'MMBtuPer_Unit November',
 'MMBtuPer_Unit December',
 'YEAR']

In [157]:
Tot_MMBtu_col = operators.columns
Tot_MMBtu_col = [x for x in operators.columns if 'Tot_MMBtu' in x]
Tot_MMBtu_col.append('YEAR')
Tot_MMBtu_col

['Tot_MMBtu January',
 'Tot_MMBtu February',
 'Tot_MMBtu March',
 'Tot_MMBtu April',
 'Tot_MMBtu May',
 'Tot_MMBtu June',
 'Tot_MMBtu July',
 'Tot_MMBtu August',
 'Tot_MMBtu September',
 'Tot_MMBtu October',
 'Tot_MMBtu November',
 'Tot_MMBtu December',
 'YEAR']

In [158]:
Elec_MMBtu_col = operators.columns
Elec_MMBtu_col = [x for x in operators.columns if 'Elec_MMBtu' in x]
Elec_MMBtu_col.append('YEAR')
Elec_MMBtu_col

['Elec_MMBtu January',
 'Elec_MMBtu February',
 'Elec_MMBtu March',
 'Elec_MMBtu April',
 'Elec_MMBtu May',
 'Elec_MMBtu June',
 'Elec_MMBtu July',
 'Elec_MMBtu August',
 'Elec_MMBtu September',
 'Elec_MMBtu October',
 'Elec_MMBtu November',
 'Elec_MMBtu December',
 'YEAR']

### Columns to rows per plant

In [159]:
netgen_df = operators[Netgen_col]
netgen_df.reset_index(inplace = True)

In [160]:
Quantity_df = operators[Quantity_col]
Quantity_df.reset_index(inplace = True)

In [161]:
Elec_Quantity_df = operators[Elec_Quantity_col]
Elec_Quantity_df.reset_index(inplace = True)

In [162]:
MMBtuPer_df = operators[MMBtuPer_col]
MMBtuPer_df.reset_index(inplace = True)

In [163]:
Tot_MMBtu_df = operators[Tot_MMBtu_col]
Tot_MMBtu_df.reset_index(inplace = True)

In [164]:
Elec_MMBtu_df = operators[Elec_MMBtu_col]
Elec_MMBtu_df.reset_index(inplace = True)

### Melting

In [165]:
netgen = netgen_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=Netgen_col,
    var_name="Month",
    value_name="NetGen"
)
netgen["Month"] = netgen["Month"].str.replace("Netgen ", "", regex=False)
netgen["Date"] = netgen["YEAR"].astype(str) + " " + netgen["Month"]

In [166]:
netgen

          index  YEAR     Month  NetGen           Date
0             0  2015   January    3282   2015 January
1             1  2015   January  265432   2015 January
2             2  2015   January  473311   2015 January
3             3  2015   January   61865   2015 January
4             4  2015   January    3225   2015 January
...         ...   ...       ...     ...            ...
1793467  149451  2024  December   21818  2024 December
1793468  149452  2024  December          2024 December
1793469  149453  2024  December    2522  2024 December
1793470  149454  2024  December    5661  2024 December
1793471  149455  2024  December    8095  2024 December

[1793472 rows x 5 columns]

In [167]:
Quantity = Quantity_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=Quantity_col,
    var_name="Month",
    value_name="Quantity"
)

Quantity["Month"] = Quantity["Month"].str.replace("Quantity", "", regex=False)
Quantity["Date"] = Quantity["YEAR"].astype(str) + " " + Quantity["Month"]

In [168]:
Elec_Quantity = Elec_Quantity_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=Elec_Quantity_col,
    var_name="Month",
    value_name="Elec_Quantity"
)

Elec_Quantity["Month"] = Elec_Quantity["Month"].str.replace("Elec_Quantity", "", regex=False)
Elec_Quantity["Date"] = Elec_Quantity["YEAR"].astype(str) + " " + Elec_Quantity["Month"]

In [169]:
MMBtuPer = MMBtuPer_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=MMBtuPer_col,
    var_name="Month",
    value_name="MMBtuPer"
)

MMBtuPer["Month"] = MMBtuPer["Month"].str.replace("MMBtuPer_Unit", "", regex=False)
MMBtuPer["Date"] = MMBtuPer["YEAR"].astype(str) + " " + MMBtuPer["Month"]

In [170]:
MMBtuPer["Month"].unique()

array([' January', ' February', ' March', ' April', ' May', ' June',
       ' July', ' August', ' September', ' October', ' November',
       ' December'], dtype=object)

In [171]:
Tot_MMBtu = Tot_MMBtu_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=Tot_MMBtu_col,
    var_name="Month",
    value_name="Tot_MMBtu"
)

Tot_MMBtu["Month"] = Tot_MMBtu["Month"].str.replace("Tot_MMBtu", "", regex=False)
Tot_MMBtu["Date"] = Tot_MMBtu["YEAR"].astype(str) + " " + Tot_MMBtu["Month"]

In [172]:
Elec_MMBtu = Elec_MMBtu_df.melt(
    id_vars=["index",'YEAR'],
    value_vars=Elec_MMBtu_col,
    var_name="Month",
    value_name="Elec_MMBtu"
)

Elec_MMBtu["Month"] = Elec_MMBtu["Month"].str.replace("Elec_MMBtu", "", regex=False)
Elec_MMBtu["Date"] = Elec_MMBtu["YEAR"].astype(str) + " " + Elec_MMBtu["Month"]

In [173]:
netgen.to_csv('netgen.csv',index=False)

In [174]:
Quantity.to_csv('Quantity.csv',index=False)

In [175]:
Elec_Quantity.to_csv('Elec_Quantity.csv',index=False)

In [176]:
MMBtuPer.to_csv('MMBtuPer.csv',index=False)

In [177]:
Tot_MMBtu.to_csv('Tot_MMBtu.csv',index=False)

In [178]:
Elec_MMBtu.to_csv('Elec_MMBtu.csv',index=False)

In [179]:
netgen

          index  YEAR     Month  NetGen           Date
0             0  2015   January    3282   2015 January
1             1  2015   January  265432   2015 January
2             2  2015   January  473311   2015 January
3             3  2015   January   61865   2015 January
4             4  2015   January    3225   2015 January
...         ...   ...       ...     ...            ...
1793467  149451  2024  December   21818  2024 December
1793468  149452  2024  December          2024 December
1793469  149453  2024  December    2522  2024 December
1793470  149454  2024  December    5661  2024 December
1793471  149455  2024  December    8095  2024 December

[1793472 rows x 5 columns]

## Turbine

In [77]:
operators['AER Fuel Type Code'].unique()

array(['HYC', 'NG', 'COL', 'WWW', 'DFO', 'NUC', 'WOO', 'RFO', 'ORW',
       'WND', 'HPS', 'SUN', 'MLG', 'PC', 'GEO', 'OTH', 'OOG', 'WOC'],
      dtype=object)

In [78]:
Turbine = operators[operators['AER Fuel Type Code']=='WND']

In [79]:
Solar = operators[operators['AER Fuel Type Code']=='SUN']

In [80]:
Geo_thermal = operators[operators['AER Fuel Type Code']=='GEO']

In [81]:
Nuclear = operators[operators['AER Fuel Type Code']=='NUC']

In [82]:
Solar

,index,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Reported Prime Mover,Reported Fuel Type Code,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
114,114,116,N,.,Ocotillo,Arizona Public Service Co,803,AZ,PV,SUN,...,6,5,0,33,0,0,3775,3775,405,2015
147,147,141,N,.,Agua Fria,Salt River Project,16572,AZ,PV,SUN,...,0,0,0,0,0,0,0,0,0,2015
946,946,944,N,.,Geneseo,City of Geneseo - (IL),7095,IL,PV,SUN,...,121044,1030675,940995,820142,0,0,5116,5116,549,2015
964,964,960,N,.,North Ninth Street,Rochelle Municipal Utilities,16179,IL,PV,SUN,...,350584,300379,270835,240069,0,0,3765,3765,404,2015
2658,2658,2854,N,.,Yankee Street,Dayton Power & Light Co,4922,OH,PV,SUN,...,1000146,850496,780338,670739,0,0,10597,10597,1137,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156365,156580,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,WI,PV,SUN,...,0,0,0,0,0,0,645554,645554,189202021,2025
156366,156581,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,WI,PV,SUN,...,0,0,0,0,0,0,553313,553313,162166058,2025
156367,156582,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,WI,PV,SUN,...,0,0,0,0,0,0,12220,12220,35810494,2025
156368,156583,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,WV,PV,SUN,...,0,0,0,0,0,0,152008,152008,445510314,2025
156369,156584,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,WV,PV,SUN,...,0,0,0,0,0,0,106284,106284,311500149,2025